<!doctype html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {{- if .IsHome -}}
        {{ site.Title }}
      {{- else -}}
        {{ .Title }} · {{ site.Title }}
      {{- end -}}
    </title>
    {{ partial "head-meta.html" . }}

    {{- /* Preload Critical Fonts */ -}}
    <link rel="preload" href="/fonts/lora/Lora-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/geist/Geist-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>

    {{- $css := resources.Get "css/main.css" | minify -}}
    <style>{{ $css.Content | safeCSS }}</style>

    <meta name="pagefind-script" content="{{ "pagefind/pagefind.js" | relURL }}" />
    <meta name="pagefind-highlight-script" content="{{ "pagefind/pagefind-highlight.js" | relURL }}" />

    {{- $zoom := resources.Get "js/libs/medium-zoom.min.js" | fingerprint -}}
    <script src="{{ $zoom.RelPermalink }}" integrity="{{ $zoom.Data.Integrity }}" defer></script>

    {{- $js := resources.Get "js/main.js" | minify | fingerprint -}}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  </head>

  <body>
    {{ partial "header.html" . }}
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    
    <button id="scroll-to-top" class="icon-button scroll-to-top" type="button" aria-label="Scroll to top">
      <svg class="icon" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 15l-6-6-6 6"/>
      </svg>
    </button>

    {{ partial "footer.html" . }}
  </body>
</html>
